.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-title {
  margin-top: 1rem;
  color: white;
  margin-bottom: 0;
  font-weight: 100;
  display: inline-block;
  font-size: 5rem;
  width: 50%;
}

.App-title-gameover {
  margin-top: 1rem;
  color: white;
  margin-bottom: 0;
  font-weight: 100;
  display: block;
  font-size: 3rem;
  border: none;
}

.App-title-gameover-h2 {
  margin-top: 0.5rem;
  color: white;
  margin-bottom: 0;
  font-weight: 100;
  display: block;
  font-size: 2.5rem;
  border: none;
}
